table.periodicTable {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid rgb(160 160 160);
  }
  th {
    padding: 4px 5px;
  }
}

table.electronShells {
  border-collapse: collapse;
  th,
  td {
    border: 1px solid black;
  }

  th {
    width: 12px;
  }
}
